button{
    background-color: blue;
    border: none;
    border-radius: 5px;
    width: 200px;
    color: white;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 150px;
}
#Increment-btn{
    
}
